<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Epam/NewMaster/OopsConecpt/src/test/java/com/epam/onboarding/mentoring/designpattern/factory/Automation.java">
        <classes>
            <class name="com.epam.onboarding.mentoring.designpattern.factory.Automation">
                <methods>
                    <include name="launchTestAutomationGuruTest"/>
                    <include name="launchGoogleTest"/>
                    <include name="launchYahooTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>